.about-main{
    text-align: center;
    background-color: white;
    /* height: 60vh; */
    width: 100%;
    color: black;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.about-main p {
    font-family: Poppins;
    color: darkgray;
}
.about-main h1 {
    font-family: Poppins;
    color: black;
}


@media screen and (max-width: 1300px) {
    .about-main{
        padding-left: 10vw;
        padding-right: 10vw;
    }
  }
@media screen and (max-width: 825px) {
    .about-main{
        padding-left: 10vw;
        padding-right: 10vw;
    }
  }