@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   

  /* ----------------------------------- */
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-sm: 0.88rem;
  --font-size-lgi: 1.19rem;
  --font-size-xl: 1.25rem;
  --font-size-6xl: 1.56rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #9f9f9f;
  --color-gray-3: #898989;
  --color-gray-100: #242424;
  --color-linen-100: #f9f1e7;
  --color-seashell: #fcf8f3;
  --primary: #b88e2f;
  --color-darkgoldenrod-100: #9e7514;
  --color-gray-1: #3a3a3a;
  --font-color: #333;
  --font-color1: #666;
  --color-gray-2: #616161;
  --color-primary: #e89f71;
  --color-green-accents: #2ec1ac;
  --color-red-accents: #e97171;
  --color-light-bg: #f4f5f7;

  /* Gaps */
  --gap-mid: 1.06rem;
  --gap-xl: 1.25rem;
  --gap-15xl: 2.13rem;
  --gap-10xs: 0.19rem;
  --gap-36xl: 3.44rem;
  --gap-26xl: 2.81rem;
  --gap-3xs: 0.63rem;
  --gap-11xs: 0.13rem;
  --gap-11xl: 1.88rem;

  /* Paddings */
  --padding-31xl: 3.13rem;
  --padding-81xl: 6.25rem;
  --padding-56xl: 4.69rem;
  --padding-9xs: 0.25rem;
  --padding-6xl: 1.56rem;
  --padding-xl: 1.25rem;
  --padding-25xl: 2.75rem;
  --padding-10xl: 1.81rem;
  --padding-5xl: 1.5rem;
  --padding-13xl: 2rem;
  --padding-mid: 1.06rem;
  --padding-7xl: 1.63rem;
  --padding-xs: 0.75rem;
  --padding-11xl: 1.88rem;
  --padding-base: 1rem;
  --padding-6xs: 0.44rem;
  --padding-mini: 0.94rem;
  --padding-10xs: 0.19rem;
  --padding-156xl: 10.94rem;
  --padding-95xl: 7.13rem;

  /* Border radiuses */
  --br-mini: 15px;
  --br-8xs: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* ------------------------------------------------- */



body {
  margin: 0;
  line-height: normal;
}